* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #181818;
}

.container {
    background-color: #242526;
    height: 625px;
    width: 70%;
    margin-top: 32px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
}

.centralizar {
    justify-content: center;
    align-items: center;
}

.divisorE {
    background-color: #242526;
    width: 50%;
    height: 100%;
    display: flex;
}

.divisorD {
    background-color: #242526;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*seção direita*/

.loginbox {
    color: white;
    font-size: 20px;
    width: 348px;
    height: 333px;
    border: 1px solid white;
    background-color: #242526;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 85px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.loginbox .img1 {
    margin-top: 40px;
    width: 53%;
    margin-bottom: 20px;
}

.loginbox .img2 {
    width: 95px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.loginbox button {
    background-color: #0095F6;
    border: 0px;
    padding: 8px;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
}

.loginbox button b {
    background-color: #0095F6;
}

.botao {
    background-color: #242526;
    color: #0095F6;
    font-size: 14px;
}

.optionbox {
    width: 348px;
    height: 70px;
    border: 1px solid white;
    background-color: #242526;
    margin-right: 85px;
    margin-bottom: 24px;
    display: flex;
}

.optionbox p {
    background-color: #242526;
    color: white;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}

.extraoptions{

    width: 348px;
    margin-right: 85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
}

.extraoptions p{
    margin-bottom: 24px;
}

.extraoptions img{
    width:140px;
    margin: 5px;
    margin-top: 0px;
}

.extraoptions .extraimages{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

/*seção esquerda*/

.imageborder {
    height: 80%;
    width: 100%;
    background: none;
    box-sizing: border-box;
    object-position: center;
    background-color: #242526;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageborder .iphone {
    background-color: none;
    height: 497px;
    width: 237px;
    z-index: 1;
}

.iphone img {
    height: 100%;
    width: 100%;
}

.imagecontent {
    border-radius: 25px;
    background-color: black;
    height: 472px;
    width: 222px;
    margin-left: -226.5px;
}

.imagecontent img {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: none;
}

.imagecontent .selected {
    display: block;
    animation: anim1;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}

@keyframes anim1 {
    from {
        opacity: 0;
        display: none;
    }

    20% {
        opacity: 1;
        display: block;
    }

    80% {
        opacity: 1;
        display: block;
    }

    to {
        opacity: 0;
        display: none;
    }
}